.footer__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
}

.footer__column {
    max-width: 370px;
    width: 100%;
}

.footer__column_group {
    padding: 0;
}

.footer__column_item {
    border-top: 1px solid rgba(148, 148, 148, 0.384);
    padding: 20px 0 20px 0;
}

.footer__column_item > a {
    text-decoration: none;
    color: #212629;
    display: flex;
    align-items: center;
    transition: .3s;
}

.footer__column_item > a:hover {
    color: var(--accent);
    transition: .3s;
}

.footer__column_img {
    margin-right: 20px;
}

@media screen and (min-width: 320px) and (max-width: 768px ) {
    .footer__wrapper  {
        flex-direction: column;
        align-items: center;
    }
}